#include ("view/includes/header.vm")
<div class="tab-pane fade in active">
	<div class="container">
		<div class="row">
			<div class=col-md-12>
				<form id="form-list-client">
					<legend>Lista de Posições</legend>
					<div class="pull-right">
						<a href="posicao/insert"
							class="btn btn-default-btn-xs btn-success"><i
							class="glyphicon glyphicon-plus"></i> Novo</a>
					</div>
					<table class="table table-bordered table-condensed table-hover">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nome</th>
								<th>Acoes</th>
							</tr>
						</thead>

						<tbody>
							#foreach ($posicao in $posicoes)
								<tr>
									<td>$!posicao.id</td>
									<td>$!posicao.nome</td>
									<td><a href="posicao/update/$!posicao.id"><i
											class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>
										<a href="posicao/delete/$!posicao.id"><i
											class="material-icons" data-toggle="tooltip" title="Deletar">&#xE872;</i></a></td>
								</tr>
							#end
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
#if($text)
	<script>alert($text)</script>
#end
#include ("view/includes/footer.vm")