<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Copa Brasil</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="panel-body">
				<div class="tab-content">
<div class="container">
	<div class="row">
		<!-- Insert -->
		<div class="col-md-12">
			<form class="form-horizontal" action="/login">
				<fieldset>
					<!-- Form Name -->
					<legend>Tela de login administrativo</legend>
					<!-- Text input-->
					<div class="form-group">
						<label class="col-md-4 control-label" for="usuario">Nome:</label>
						<div class="col-md-4">
							<input class="form-control" type="text" name="usuario">
						</div>
					</div>
					<div class="form-group">
						<label class="col-md-4 control-label" for="senha">Nome:</label>
						<div class="col-md-4">
							<input class="form-control" type="password" name="senha">
						</div>
					</div>
					<!-- Button -->
					<div class="form-group">
						<label class="col-md-4 control-label" for="btn-save"></label>
						<div class="col-md-4">
							<button type="submit"	class="btn btn-success">Login</button>
						</div>
					</div>
					<input type="hidden" name="id" value="$!posicao.id">
				</fieldset>
			</form>
		</div>
	</div>
</div>
</body>
<footer></footer>
</html>
